In [3]:
import pandas as pd
from summarytools import dfSummary
from data_processing import Input

In [2]:
df = Input("data/train_file.csv").preprocess()

df.head()

,age,job,marital,education,contact,day_of_week,campaign,previous,poutcome,y,duration_mins,education_level,job_type,income_level,was_contacted_before,deposited_before
0,49,blue-collar,married,basic.9y,cellular,wed,4,0,nonexistent,no,4,low,blue-collar,mid,False,False
1,37,entrepreneur,married,university.degree,telephone,wed,2,1,failure,no,3,high,entrepreneur,high,True,False
2,70,retired,married,basic.4y,cellular,mon,1,0,nonexistent,yes,19,low,retired,low,False,False
3,36,admin.,married,university.degree,telephone,mon,2,0,nonexistent,no,2,high,white-collar,mid,False,False
4,59,retired,divorced,university.degree,cellular,tue,2,0,nonexistent,no,6,high,retired,low,False,False

In [5]:
dfSummary(df, is_collapsible=True)

In [7]:
test_df = Input('data/test_file.csv').preprocess()
test_df.head()

,age,job,marital,education,contact,day_of_week,campaign,previous,poutcome,duration_mins,education_level,job_type,income_level,was_contacted_before,deposited_before
0,34,services,married,high.school,telephone,thu,4,0,nonexistent,4,mid,blue-collar,mid,False,False
1,29,blue-collar,single,basic.9y,cellular,thu,1,0,nonexistent,3,low,blue-collar,mid,False,False
2,35,admin.,single,high.school,cellular,wed,2,0,nonexistent,3,mid,white-collar,mid,False,False
3,60,admin.,divorced,high.school,cellular,fri,1,0,nonexistent,3,mid,white-collar,mid,False,False
4,45,management,married,university.degree,telephone,wed,2,0,nonexistent,2,high,white-collar,high,False,False