In [17]:
# Import all required libraries``
import pandas as pd
from summarytools import dfSummary

### Exploratory Data Analysis

This part of my work mainly focuses on understanding the underlying data and various relationships between different attributes

In [18]:
df = pd.read_csv('data/train_file.csv')
df.sample(n=5)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,previous,poutcome,y
11511,50,blue-collar,married,basic.4y,no,no,no,telephone,may,wed,233,3,0,nonexistent,no
2838,75,retired,married,basic.4y,no,no,yes,cellular,aug,fri,714,1,0,nonexistent,yes
23421,41,management,married,unknown,no,no,no,telephone,may,wed,345,2,0,nonexistent,no
15665,45,technician,single,university.degree,no,no,no,cellular,aug,thu,146,1,0,nonexistent,no
6789,55,blue-collar,married,basic.6y,unknown,no,no,cellular,jul,thu,23,1,0,nonexistent,no

In [ ]:
dfSummary(data=df, is_collapsible=True)

###  **Attributes and their possible meanings**

<details>

| **Column**    | **Column's meaning (presumably !!!)** |
|---------------|------------------------|
| age           | Client's current age |
| job           | Job category to which client's profession falls into |
| marital       | Marital Status of a client |
| education     | Level of education that a contacted person has achieved so far |
| default       | Column indicating if this person had credit defaults in the past? |
| housing       | Column indicating whether a client posesses own real estate property? Alternatively, this could also indicate whether a contacted person has an active mortgage loan?|
| loan          | Column indicating whether an individual has any active/remaining loans?|
| contact       | Phone type used for communications ('cellular', 'telephone') |
| month         | Month when contact took place ('jan', 'feb',  ..., 'dec')|
| day_of_week   | Weekday when contact took place |
| duration      | Call duration? (probably in seconds) |
| campaign      | The number of contact attempts made during current campaign? |
| previous      | Number of contact attempts made during previous campgaign?|
| poutcome      | Outcome of the previous marketing campaign? ('success', 'failure', 'other', 'unknown') |
| y             | Target column, indicating whether a given person has agreed to make a deposit |

</details>

### **Issues and flaws present in the dataset**

<details>


An initial analysis reveals that this dataset contains following flaws and inconsistencies that should be adressed:

1. All categorical attributes are stored as so-called objects (i.e. text-data).

2. 8 rows are full duplicates of other existing rows.

3. Although at first glance, there seem to be no missing values, some columns.
(e.g. ```marital```, ```education```, ```housing``` etc.) all contain value called *unknown*, which in its essense is equivalent to N/A since it does not provide us any useful meaning on its own. Neither can we regard it as category on its own
  

</details>

In [27]:
import custom_functions as cf

In [ ]:
df =cf.convert_to_categorical(df,columns='all')